.nav-item:hover,
.nav-item:focus {
	color: #fff;
}

.bg-fav {
	background-color: rgb(5, 105, 123);
}

h1 {
	color: rgb(57, 57, 57);
}

h2 {
	color: rgb(57, 57, 57);
}

h3 {
	color: rgb(57, 57, 57);
}

h4 {
	color: rgb(57, 57, 57);
}

h5 {
	color: rgb(57, 57, 57);
}

h6 {
	color: rgb(57, 57, 57);
}

.btn {
	margin: 5px;
}


.progress {
	position: relative;
	top: 16px;
	width: 100%;
}
