{% extends "auth_base.html" %}
{% block thehead %}
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}" />
{% endblock %}

{% block title %}Code Base{% endblock %}

{% block content %}

<div class="container">
	<div class="row text-center">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">{% block description %}{% endblock %}</div>
	</div>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="row text-center">
				<div class="col-sm-12 col-md-6">
					<h3><code>algs4</code></h3>
				</div>
				<div class="col-sm-12 col-md-6">
					<h3>Standard Java Library</h3>
				</div>
			</div>
			{% block cells %}

			{% endblock %}
			<div class="row-md">
				<pre class="line-numbers col-5" style="white-space:pre-wrap;"><code class="language-java match-braces">import java.util.LinkedList;

public class tester {
    public static void main(String[] args) {
        LinkedList&ltInteger&gt h = new LinkedList&ltInteger();
		h.add(0);
		for (Integer i : h) {
		    System.out.println(i);
		}
	}
}</code></pre>
				<div class="col-2"></div>
				<pre class="line-numbers col-5" style="white-space:pre-wrap;"><code class="language-java match-braces">import java.util.LinkedList;

public class tester {
    public static void main(String[] args) {
        LinkedList&ltInteger&gt h = new LinkedList&ltInteger();
		h.add(0);
		for (Integer i : h) {
		    System.out.println(i);
		}
	}
}</code></pre>
			</div>
		</div>
	</div>
</div>
{% endblock %}
