{% extends "auth_base.html" %}
{% block thehead %}
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}" />
<script src="{{ url_for('static', filename='js/compiled_code.js') }}"></script>
{% endblock %}

{% block title %}Code Base{% endblock %}

{% block content %}

<div class="container">
	<div class="row text-center">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">{% block description %}{% endblock %}</div>
	</div>
	<div class="d-block d-md-none">
		<h3 class="text-center"><code>algs4</code></h3>
		<div style="padding: 5px;"></div>
		<pre class="line-numbers" style="white-space:pre-wrap; font-size:11px;"><code class="language-java match-braces">{{ algs4_content }}</code>
					</pre>
		<br>
		<h3 class="text-center">Standard Java Library</h3>
		<div style="padding: 5px;"></div>
		<div id="stdjava_code">
			<form id="code_form" spellcheck="false">
				<p>
					<textarea
						style="font-size: 11px;">The equivalent code using only Standard Java Libraries.</textarea>
				</p>
			</form>
			<button type="button" class="btn btn-primary" onclick="compile()">Compile</button>
		</div>
	</div>
	<div class="row d-md-block d-none">
		<div class="row text-center">
			<div class="col-6">
				<h3><code>algs4</code></h3>
			</div>
			<div class="col-6">
				<h3>Standard Java Library</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<pre class="line-numbers"
					style="white-space:pre-wrap; font-size:11px;"><code class="language-java match-braces">{{ algs4_content }}</code></pre>
			</div>
			<div class="col-6" id="stdjava_code">
				<form id="code_form" spellcheck="false">
					<p>
						<textarea
							style="font-size: 11px;">The equivalent code using only Standard Java Libraries.</textarea>
					</p>
				</form>
				<button type="button" class="btn btn-primary" onclick="compile()">Compile</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
