{% extends "auth_base.html" %}
{% block thehead %}
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}" />
<script src="{{ url_for('static', filename='js/compiled_code.js') }}"></script>
{% endblock %}

{% block title %}Code Base{% endblock %}

{% block content %}

<div class="container">
	<div class="row text-center">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">{% block description %}{% endblock %}</div>
	</div>
	<div class="d-block d-md-none">
		<h3 class="text-center"><code>algs4</code></h3>
		<div style="padding: 5px;"></div>
		<pre class="line-numbers"
			style="white-space:pre-wrap; font-size:11px;"><code class="language-java match-braces" id="algs4_code">{{ algs4_content }}</code></pre>
		<button type="button" class="btn btn-primary" id="algs4_btn" onclick="execute_algs4()">Execute</button>
		<br><br><br>
		<h3 class="text-center">Standard Java Library</h3>
		<div style="padding: 5px;"></div>
		<div id="stdjava_code_sm">
			<form id="code_form_sm" spellcheck="false">
				<p>
					<!-- The equivalent code using only Standard Java Libraries. -->
					<textarea id="form_textarea_sm" style="font-size: 11px;" rows='16'>{{ sample_stdjava }}</textarea>
					<button type="button" class="btn btn-primary" onclick="compile_sm()">Compile</button>
				</p>
			</form>
		</div>
	</div>
	<!-- normal size -->
	<div class="row d-md-block d-none">
		<div class="row text-center">
			<div class="col-6">
				<h3><code>algs4</code></h3>
			</div>
			<div class="col-6">
				<h3>Standard Java Library</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<pre class="line-numbers"
					style="white-space:pre-wrap; font-size:11px;"><code class="language-java match-braces" id="algs4_code">{{ algs4_content }}</code></pre>
				<button type="button" class="btn btn-primary" onclick="execute_algs4()">Execute</button>
			</div>
			<div class="col-6" id="stdjava_code">
				<form id="code_form" spellcheck="false">
					<p>
						<!-- The equivalent code using only Standard Java Libraries. -->
						<textarea id="form_textarea" style="font-size: 11px;" rows='16'>{{ sample_stdjava }}</textarea>
						<button type="button" class="btn btn-primary" onclick="compile()">Compile</button>
					</p>
				</form>
			</div>
		</div>
	</div>
	<br class="d-block d-md-none">
	<div class="row">
		<div class="col" id="algs4_output">

		</div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/allow_tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/compiled_code.js') }}"></script>
{% endblock %}
