{% extends "code_pages/code_base.html" %}
{% set class_name = "Stack" %}
{% set api_url = url_for('show_stack') %}
{% set algs4_content = 
"import edu.princeton.cs.algs4.Stack;
import edu.princeton.cs.algs4.StdOut;
import edu.princeton.cs.algs4.StdIn;

public class tester {
   public static void main(String[] args) {
      int pivot = Integer.parseInt(args[0]);
      if (pivot < 0) {
         throw new IllegalArgumentException(\"Pivot must be a non-negative integer.\");
      }
      Stack<Integer> stack = new Stack<Integer>();
      StdOut.print(\"Pivot values:\");
      for (int since_pivot = pivot; !StdIn.isEmpty(); since_pivot--) {
         stack.push(StdIn.readInt());
         if (since_pivot == 0) {
            StdOut.printf(\" %d\", stack.peek());
            pivot++;
            since_pivot = pivot;
         }
      }
      StdOut.println();
      StdOut.printf(\"Standard Input in Reverse Order (%d items):\", stack.size());
      for (Integer i : stack) {
         StdOut.printf(\" \" + i);
      }
      while (!stack.isEmpty()) {
         stack.pop();
      }
      StdOut.println();
      StdOut.printf(\"Ending size: %d items\", stack.size());
   }
}" %}

{% set tests = [
   {"arg": "0", "out": ["Pivot values: 1 2 4 7 11 16\nStandard Input in Reverse Order (21 items): 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1\nEnding size: 0 items", ""], "stdin": "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21"},
   {"arg": "-2", "out": ["", 'Exception in thread &quotmain&quot java.lang.IllegalArgumentException: Pivot must be a non-negative integer.\n\tat tester.main(tester.java:_)\n'], "stdin": "94 8 7 7 18"},
   {"arg": "1", "stdin": "64 1 98 48912893 4 213 753 984 3", "out": ["Pivot values: 1 48912893 753\nStandard Input in Reverse Order (9 items): 3 984 753 213 4 48912893 98 1 64\nEnding size: 0 items", ""]},
   {"arg": "3", "stdin": "432 4 2 3 423 43 23 1 23 -876 562 764527 -98 0 9 0", "out": ["Pivot values: 3 1 -98\nStandard Input in Reverse Order (16 items): 0 9 0 -98 764527 562 -876 23 1 23 43 423 3 2 4 432\nEnding size: 0 items", ""]}
] %}
{% set default_command_args = 0 %}
{% set default_stdin = "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21" %}

{% set answer = "
import java.util.Scanner;
import java.util.Stack;

public class tester {
   public static void main(String[] args) {
      int pivot = Integer.parseInt(args[0]);
      if (pivot < 0) {
         throw new IllegalArgumentException(\"Pivot must be a non-negative integer.\");
      }
      Scanner stdin = new Scanner(System.in);
      Stack<Integer> stack = new Stack<Integer>();
      System.out.print(\"Pivot values:\");
      for (int since_pivot = pivot; stdin.hasNext(); since_pivot--) {
         int l = Integer.parseInt(stdin.next());
         stack.push(l);
         if (since_pivot == 0) {
            System.out.printf(\" %d\", stack.peek());
            pivot++;
            since_pivot = pivot;
         }
      }
      System.out.println();
      System.out.printf(\"Standard Input in Reverse Order (%d items):\", stack.size());
      Stack<Integer> opposite = new Stack<Integer>();
      while (!stack.empty()) {
         opposite.push(stack.pop());
      }
      for (Integer i : opposite) {
         System.out.printf(\" \" + i);
      }
      System.out.println();
      System.out.printf(\"Ending size: %d items\", stack.size());
   }
}
"%}
