{% extends "auth_base.html" %}

{% block content %}
<div class="container">
	<div class="text-center">
		<h2>Overview</h2>
	</div>
	<div class="row text-center">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			{% block description %}{% endblock %}
			<a href="{{ test_url }}">
				<button type="button" class="btn btn-primary">Practice
					Programming with {{className[1]}}</button></a>
		</div>
	</div>
	<br>
	<div class="text-center">
		<h2>API Comparison</h2>
	</div>

	<div class="row">
		<!-- medium or larger breakpoint -->
		<div class="col d-none d-sm-none d-md-block">
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<div class="row text-center">
						<div class="col-6">
							<h3>{{ className[0] }} (<code>algs4</code>)</h3>
						</div>
						<div class="col-6">
							<h3>{{ className[1] }} (Standard Java Library)</h3>
						</div>
					</div>
					<div class="text-center">
						<h4>Import Statements</h4>
						<div class="row">
							<div class="col-6">
								<p><code>import edu.princeton.cs.algs4.{{ className[0] }};</code></p>
							</div>
							<div class="col-6">
								{% if className[1] == "System.out" %}
								<p>N/A</p>
								{% else %}
								<p><code>import java.util.{{ className[1] }};</code></p>
								{% endif %}
							</div>
						</div>
					</div>
					{% if constructors %}
					<div class="text-center">
						<h4>Constructors</h4>
					</div>
					{% for cell in constructorCells %}
					<div class="row">
						{% for data in cell %}
						{% with i = loop.index0 %}
						{% include "modules/constructor_cell.html" %}
						{% endwith %}
						{% endfor %}
					</div>
					{% endfor %}
					{% endif %}

					<div class="text-center">
						{% if constructors %}
						<h4>Instance Methods</h4>
						{% else %}
						<h4>Static Methods</h4>
						{% endif %}
					</div>
					{% for cell in cells %}
					<div class="row">
						{% for data in cell %}
						{% with theClass = className[loop.index0] %}
						{% include "modules/method_cell.html" %}
						{% endwith %}
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col d-block d-sm-block d-md-none">
			{% set small = true %}
			{% for i in [0, 1] %}
			<div class="text-center">
				{% if i == 0 %}<h3>{{ className[i] }} (<code>algs4</code>)</h3>
				{% else %}<h3>{{ className[1] }} (Standard Java Library)</h3>
				{% endif %}
			</div>
			{% if constructors %}
			<div class="text-center">
				<h4>Constructors</h4>
			</div>
			{% for cell in constructorCells %}
			<div class="row">
				{% set data = cell[i] %}
				{% include "modules/constructor_cell.html" %}
			</div>
			{% endfor %}
			{% endif %}

			<div class="text-center">
				{% if constructors %}
				<h4>Instance Methods</h4>
				{% else %}
				<h4>Static Methods</h4>
				{% endif %}
			</div>
			{% for cell in cells %}
			<div class="row">
				{% set data = cell[i] %}
				{% with theClass = className[i] %}
				{% include "modules/method_cell.html" %}
				{% endwith %}
			</div>
			{% endfor %}
			<br>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
