<!DOCTYPE html>
<html lang="en">

<head>
	<title>algs4 to StdJava</title>
	<meta charset="utf-8">
	<meta name="description" content="About algs4-to-StdJava">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
	<!-- Copied from home.html-->
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<header class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">algs4 to StdJava</h3>
						<nav class="nav nav-masthead">
							<a class="nav-link" href="home.html">Home</a>
							<a class="nav-link active" href="about_unauth.html">About</a>
							<a class="nav-link" href="index.html">Login</a>
						</nav>
					</div>
				</header>

				<main role="main" class="inner cover">
					<h3>Motivation</h3>
					<p>
						Princeton students do not learn how to code in Java using standard libraries,
						which are used
						at industry level.
						Therefore, students have difficulty in interviews and generally programming in
						Java.</p>
					<h3>Goal</h3>
					<p>The goal of this project is to teach Princeton Computer Science students the
						core standard Java
						libraries that are replaced by <code>algs4</code>, which is the set of Java
						libraries used in
						COS 226.</p>

					<h3>Why was this project created?</h3>
					<p>
						The project leader personally had difficulty transitioning from using
						<code>algs4</code> to
						standard Java libraries and wished there was a tool to help assist him in
						adapting to the
						standard Java libraries for a Princeton student. So, he set out to make
						<code>algs4</code> to
						StdJava.
					</p>

				</main>

			</div>

		</div>

	</div>

</body>
