{% extends "unauth_base.html" %}

{% block content %}
<div class="row">
	<div class="col-xl-3 col-lg-2 col-md-1"></div>
	<div class="col-xs-12 col-xl-6 col-lg-8 col-md-10">
		<main role="main" class="inner cover">
			<h3>Motivation</h3>
			<p>
				Princeton students do not learn how to code in Java using standard libraries,
				which are used
				at industry level.
				Therefore, students have difficulty in interviews and generally programming in
				Java.</p>
			<h3>Goal</h3>
			<p>The goal of this project is to teach Princeton Computer Science students the
				core standard Java
				libraries that are replaced by <code>algs4</code>, which is the set of Java
				libraries used in
				COS 226.</p>

			<h3>Inspiration</h3>
			<p>
				The project leader personally had difficulty transitioning from using
				<code>algs4</code> to
				standard Java libraries and wished there was a tool to help assist him in
				adapting to the
				standard Java libraries for a Princeton student. So, he set out to make <em>algs4 to
					StdJava</em>.
			</p>

		</main>
	</div>
</div>
{% endblock %}
