{% extends "auth_base.html" %}
{% block pageTitle %}About{% endblock %}
{% block pageDescription %}About algs4-to-StdJava{% endblock %}


{% block title %}About <code>algs4</code> to StdJava{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h3>Motivation</h3>
			<ul>
				<li>Princeton students do not learn how to code in Java using standard libraries, which are used
					at industry level.
				</li>
				<li>Therefore, students have difficulty in interviews and generally programming in Java.</li>
			</ul>
			<h3>Goal</h3>
			<ul>
				<li>The goal of this project is to teach Princeton Computer Science students the core standard Java
					libraries that are replaced by <code>algs4</code>, which is the set of Java libraries used in
					COS 226.</li>
			</ul>
			<h3>Why was this project created?</h3>
			<ul>
				<li>Main motivation: Impress Prof. Robert Fish.</li>
				<li>The project leader personally had difficulty transitioning from using <code>algs4</code> to
					standard Java libraries and wished there was a tool to help assist him in adapting to the
					standard Java libraries for a Princeton student. So, he set out to make <code>algs4</code> to
					StdJava.</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
