{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-fav">
	<!-- <div class="container-fluid"> -->
	<a class="navbar-brand" href=" {{ url_for('show_index') }}">algs4 to StdJava</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
		aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle {% if not is_about %} active {% endif %}" href="#"
					id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Modules</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<h6 class="dropdown-header">Input/Output</h6>
					<a class="dropdown-item" href="{{ url_for('show_system_out') }}">System.out</a>
					<a class="dropdown-item" href="{{ url_for('show_scanner') }}">Scanner</a>
					<a class="dropdown-item" href="{{ url_for('show_printwriter') }}">PrintWriter</a>
					<h6 class="dropdown-header">Data Structures</h6>
					<a class="dropdown-item" href="{{ url_for('show_hashmap') }}">HashMap</a>
					<a class="dropdown-item" href="{{ url_for('show_hashset') }}">HashSet</a>
					<a class="dropdown-item" href="{{ url_for('show_treemap') }}">TreeMap</a>
					<a class="dropdown-item" href="{{ url_for('show_priorityqueue') }}">PriorityQueue</a>
					<a class="dropdown-item" href="{{ url_for('show_queue') }}">Queue</a>
					<a class="dropdown-item" href="{{ url_for('show_stack') }}">Stack</a>
				</div>
			</li>

		</ul>
		<ul class="navbar-nav ml-auto">

			<li class="nav-item navbar-dark {% if is_about %} active {% endif %}"><a class="nav-link"
					href="{{ url_for('show_about_auth') }}">About</a></li>
			<div class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></div>
		</ul>

	</div>
</nav>
{% endblock %}
