{% extends "auth_base.html" %}

{% block pageTitle %}index{% endblock %}

{% block pageDescription %}Learn the standard Java libraries from the libraries used in COS226{% endblock %}

{% block title %}Learn Standard Java Libraries{% endblock %}
{% block subtitle %}Learn the standard Java libraries from the libraries used in COS226{% endblock %}

{% block content %}
<div class="container text-center">
	<h1>Description</h1>
	<p>Below are a list of modules that correspond to classes in the standard Java libraries. Each one has a (roughly)
		equivalent
		that is used in <code>algs4</code>, the Java libraries used in Princeton's COS 226.</p>
	<p>In each module, there are:
		<div class="d-flex">
			<ul class="ordered-list mx-auto justify-content-center">
				<li class="list-item">a
					short description of the differences between the standard Java class and the equivalent
					<code>algs4</code>
					class,</li>
				<li class="list-item">an abridged API comparison, detailing most of the common and significant methods
					in
					each class, and</li>
				<li class="list-item">a
					progamming practice problem in which one is asked to translate a program written using the
					<code>algs4</code>
					libraries into a program using only standard Java libraries.</li>
			</ul>
		</div>
		The progress bars on this page keep track of your
		progress in completing the modules. Please complete the <code>System.out</code> and <code>Scanner</code> modules
		before the rest of the modules, as the rest of the modules require knowledge of those classes.</p>
	<br>
	<h1>Modules</h1>
	<h2>Input/Output</h2><br>
	{% set io_cells = [
			{"title": "System.out/err", "subtitle": "StdOut", "description": "Print text to <code>stdout</code> or <code>stderr</code>."|safe, "pbar_name":"system_out", "show_fname": "show_system_out"},
			{"title": "Scanner", "subtitle": "StdIn/In", "description": "Read in text from any input stream.", "pbar_name":"scanner", "show_fname": "show_scanner"},
			{"title": "PrintWriter", "subtitle": "Out", "description": "Write to a file using the same syntax as with printing.",
			"pbar_name":"printwriter", "show_fname": "show_printwriter"}
	] %}
	<div class="d-block d-sm-none">
		{% for cell in io_cells %}
		{% include "index_cell_xs.html" %}
		{% endfor %}
	</div>
	<div class="d-none d-sm-block">
		<div class="row">
			{% for cell in io_cells %}
			{% include "index_cell.html" %}
			{% endfor %}
		</div>
	</div>
	<br><br>

	<h2>Data Structures</h2><br>
	{% set ds_rows = [	
			[ {"title": "HashMap", "subtitle": "Separate-Chaining Hash Symbol Table", "description": "A symbol table based on a
			hashtable.", "pbar_name":"hashmap", "show_fname": "show_hashmap"},
			{"title": "HashSet", "subtitle": "Bag", "description": "A bag based on a hashtable.", "pbar_name":"hashset", "show_fname": "show_hashset"},
			{"title": "TreeMap", "subtitle": "RedBlackBST", "description": "A symbol table based on
			a left-leaning red-black tree.",
			"pbar_name":"treemap", "show_fname": "show_treemap"} ],
			[ {"title": "PriorityQueue", "subtitle": "MinPQ", "description": "A (non-indexed) minimum priority queue.",
			"pbar_name":"priorityqueue", "show_fname": "show_priorityqueue"},
			{"title": "Queue", "subtitle": "Queue", "description": "A FIFO queue built on the <code>LinkedList</code> class."|safe,
			"pbar_name":"queue", "show_fname": "show_queue"},
			{"title": "Stack", "subtitle": "Stack", "description": "A LIFO stack.", "pbar_name":"stack", "show_fname": "show_stack"} ],
	] %}
	<div class="d-block d-sm-none">
		{% for row in ds_rows %}
		{% for cell in row %}
		{% include "index_cell_xs.html" %}
		{% endfor %}
		{% endfor %}

	</div>
	<div class="d-none d-sm-block">
		<div class="row">
			{% for row in ds_rows %}
			{% for cell in row %}
			{% include "index_cell.html" %}
			{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
<br><br>
{% endblock %}
