<!DOCTYPE html>
<html lang="en">

<head>
	<title>algs4 to StdJava</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/unauth.css') }}">
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>

<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<header class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">algs4 to StdJava</h3>
						<nav class="nav nav-masthead">
							<a class="nav-link {% if not is_about %} active {% endif %}"
								href="{{ url_for('show_home') }}">Home</a>
							<a class="nav-link {% if is_about %} active {% endif %}"
								href="{{ url_for('show_about_unauth') }}">About</a>
							<a class="nav-link" href="{{ url_for('show_index') }}">Login</a>
						</nav>
					</div>
				</header>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
